[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyperclip = "*"
tika = "*"

[dev-packages]
build = "*"
mypy = "*"
flake8 = "*"
types-requests = "*"

[requires]
python_version = "3.12"
